@import "work-includes";

ul.paddings {
  text-decoration: line-through;

  .example {
    border: 1px solid $primary-color;

    .filler {
      min-height: 50px;
      min-width: 50px;
      background-color: $primary-color;
    }

    &.padding {
      padding: $padding;
    }

    &.padding-big {
      padding: $padding-big;
    }

    &.padding-biggest {
      padding: $padding-biggest;
    }

    &.padding-small {
      padding: $padding-small;
    }

    &.padding-smallest {
      padding: $padding-smallest;
    }
  }
}