// TODO: Add comments to generate styleguide
.tc-label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding-right: 5px;
  @include font-with-weight('Roboto');
  font-size: 12px;
  color: $gray-darkest;
  text-transform: uppercase;
}

.tc-label__wrapper {
  position: relative;
}

.tc-label__asterisk {
  position: absolute;
  top: -20px;
  right: 5px;
  @include font-with-weight('Roboto');
  font-size: 10px;
  color: $error;
  // Asterisk
  span {
    font-size: 16px;
  }

}

// File input stylings
.tc-file-field {
  display: block;
}

.tc-file-field__label {
  width: 500px;

  label {
    display: inline-block;
  }
}

.tc-file-field__inputs {
  display: flex;
  flex-direction: row;
  width: 500px;

  div {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-right: 10px;
  }

  button {
    flex: 1 0 auto;
  }
}

// Textarea with label and optional character count
.tc-textarea {
  display: block;
  max-width: 640px;

  textarea {
    width: 100%;
    min-height: 92px;
    display: block;
  }
}

.tc-textarea__char-count {
  float: right;
  @include font-with-weight('Merriweather Sans');
  font-size: 11px;
  color: $gray-dark;
}

.tc-textarea__char-count--current {
  @include font-with-weight('Merriweather Sans');
  color: $gray-darkest;
}

// Error messages
.tc-error-messages {
  margin-bottom: 20px;
  padding: 10px 7px;
  border: 1px solid $error-light;
  background-color: $error-lighter;
  color: $error;
  @include font-with-weight('Merriweather Sans');
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}


// Two column form blocks with descriptions/instructions
.form-blocks {
  width: 100%;
}

.form-block {
  padding-bottom: 30px;
  flex-direction: column;
  @media screen and (min-width: 1000px) {
    padding: 30px 0;
    border-top: 1px solid $gray-light;
    flex-direction: row;
  }

  &:first-child {
    border-top: none;
  }
}

.form-block__instructions {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $gray-light;
  @media screen and (min-width: 1000px) {
    margin-bottom: 0;
    padding-right: 33px;
    flex: 1 0 auto;
    max-width: 300px;
    border-bottom: none;
  }
}

.form-block__title {
  margin-bottom: 14px;
  @include font-with-weight('Roboto', 500);
  font-size: 16px;
  color: $gray-darkest;
  text-transform: uppercase;
}

.form-block__text {
  @include font-with-weight('Merriweather Sans');
  font-size: 13px;
  font-style: italic;
  line-height: 20px;
  color: $accent-gray;

  p {
    @media screen and (min-width: 1000px) {
      margin-bottom: 15px;
    }
  }
}

.form-block__fields {
  width: 100%;
  border-bottom: 6px solid $gray-lighter;
  @media screen and (min-width: 1000px) {
    width: 73%;
    padding-left: 60px;
    border-bottom: none;
    border-left: 6px solid $gray-lighter;
  }
}

// Fieldsets: More than one fieldset
// Fieldset: Multiple input groups
.fieldsets {
  width: 100%;
  padding-bottom: 20px;
  @media screen and (min-width: 1000px) {
    padding-bottom: 0;
  }

  .fieldset {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

.fieldset {
  display: block;
  width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
  @media screen and (min-width: 1000px) {
    width: 100%;
    margin: 0;
    padding-bottom: 0;
  }
}

.fieldset__input {
  width: 100%;
  max-width: 500px;
  display: block;
}

.fieldset__button {
  display: block;
  @media screen and (min-width: 1000px) {
    margin-left: 0;
  }
}

// Inputs before style guide
// Topcoder Inputs
//Empty state
input:not([type="checkbox"]),
textarea,
.topcoder-input,
toggle-password,
toggle-password-with-tips  {
  height: 40px;
  width: 100%;
  font-size: 15px;
  @include merriweather-sans-regular;
  line-height: 20px;
  color: $gray-darkest;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
  background: $white;
  border: 1px solid $gray-dark;
  box-shadow: inset 0px 0px 2px 0px rgba(183, 183, 183, 0.2);
  border-radius: 2px;
  cursor: auto;

  &:hover {
    border: 1px solid $accent-gray;
    box-shadow: inset 0px 0px 2px 0px $gray-dark;
  }

  &:focus,
  &.focus {
    border: 1px solid $primary;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.4);
  }

  &:disabled {
    border: 1px solid $gray-light;
    background-color: $gray-lightest;
    box-shadow: none;
  }

  transition: .15s all;
}

// Style the placeholders
input {
    @include placeholder {
    color: $accent-gray;
    font-size: 12px;
    @include font-with-weight;
    text-transform: uppercase;
    transition: opacity .15s;
    opacity: 1;
  }
}

input:focus {
  @include placeholder {
    opacity: 0;
    transition: opacity .15s;
  }
}


textarea {
  padding: 10px;
  line-height: 24px;

  @include placeholder {
    color: $accent-gray;
    font-weight: 300;
  }

  &:focus {
    @include placeholder {
      opacity: 0;
      transition: opacity .15s;
    }
  }
}

// Compound fields, reset the input element and style the parent container to resemble input
.topcoder-input,
toggle-password,
toggle-password-with-tips {
  // Reset the input styles
  input {
    height: 20px;
    border: none;
    background: none;
    box-shadow: none;
    padding: none;

    &:hover,
    &:focus,
    &.focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  label {
    display: inline-block;
    text-transform: uppercase;
    @include roboto-medium;
    font-size: 10px;
    line-height: 10px;
    color: $accent-gray;
    height: 20px;
    width: 60px;
    padding: 0;

    input[type='checkbox'] {
      height: 14px;
      width: 14px;
    }
  }
}

// Custom Inputs
//
.input-sticky-placeholder-container {
  position: relative;

  span.placeholder-text {
    position: absolute;
    top: 14px;
    right: 10px;
    @include roboto-light;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: $accent-gray;
  }
}
