// TODO: Add comments to generate styleguide
.tc-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  padding-right: 5px;
  @include font-with-weight('Sofia Pro');
  font-size: 12px;
  color: $gray-darkest;
  text-transform: uppercase;
}

.tc-label__mandatory {
  float: right;
  @include font-with-weight('Sofia Pro');
  font-size: 10px;
  color: $primary;

  // Asterisk
  span {
    font-size: 16px;
  }
}

// File input stylings
.tc-file-field {
  display: block;
}

.tc-file-field__label {
  width: 500px;

  label {
    display: inline-block;
  }
}

.tc-file-field__inputs {
  // Specificity to override input:not([type=checkbox])
  input.tc-file-field__input {
    width: 500px;
  }
}

// Textarea with label and optional character count
.tc-textarea {
  display: block;
  max-width: 640px;

  textarea {
    width: 100%;
    min-height: 92px;
    display: block;
  }
}

.tc-textarea__char-count {
  float: right;
  @include font-with-weight('Merriweather Sans');
  font-size: 11px;
  color: $gray-dark;
}

.tc-textarea__char-count--current {
  @include font-with-weight('Merriweather Sans');
  color: $gray-darkest;
}

// Error messages
.tc-error-messages {
  background-color: $error-lighter;
  border: 1px solid $error-light;
  color: $error;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  padding: 10px 7px;
  text-align: left;
}


// Two column form blocks with descriptions/instructions
.form-blocks {
  width: 100%;
}

.form-block {
  padding: 30px 0;
  border-top: 1px solid $gray-light;

  &:first-child {
    border-top: none;
  }
}

.form-block__instructions {
  width: 27%;
  padding-right: 33px;
  border-right: 6px solid $gray-lighter;
}

.form-block__title {
  margin-bottom: 14px;
  @include font-with-weight('Sofia Pro', 500);
  font-size: 16px;
  color: $gray-darkest;
  text-transform: uppercase;
}

.form-block__text {
  @include font-with-weight('Merriweather Sans');
  font-size: 13px;
  font-style: italic;
  line-height: 20px;
  color: $accent-gray;

  p {
    margin-bottom: 15px;
  }
}

.form-block__fields {
  width: 73%;
  padding-left: 60px;
}

// Fieldsets: More than one fieldset
// Fieldset: Multiple input groups
.fieldsets {
  width: 100%;

  .fieldset {
    display: block;
    border-bottom: 1px solid $gray-light;
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
}

.fieldset {}

.fieldset__input {
  width: 100%;
  max-width: 500px;
  display: block;
}

.fieldset__button {
  display: block;
}

// Inputs before style guide
// Topcoder Inputs
//Empty state
input:not([type="checkbox"]),
textarea,
.topcoder-input,
toggle-password,
toggle-password-with-tips  {
  height: 40px;
  width: 100%;
  font-size: 15px;
  @include merriweather-sans-regular;
  line-height: 20px;
  color: $gray-darkest;
  padding-left: 10px;
  margin-bottom: 10px;
  outline: none;
  background: $white;
  border: 1px solid $gray-dark;
  box-shadow: inset 0px 0px 2px 0px rgba(183, 183, 183, 0.2);
  border-radius: 2px;
  cursor: auto;

  &:hover {
    border: 1px solid #A3A3AE;
    box-shadow: inset 0px 0px 2px 0px #B7B7B7;
  }

  &:focus,
  &.focus {
    border: 1px solid #0096FF;
    outline: none;
    box-shadow: inset 0px 0px 2px 1px rgba(133,203,255,0.4);
  }

  transition: .15s all;
}

// Style the placeholders
input {
    @include placeholder {
    color: $accent-gray;
    font-size: 12px;
    @include font-with-weight;
    text-transform: uppercase;
    transition: opacity .15s;
    opacity: 1;
  }
}

input:focus {
  @include placeholder {
    opacity: 0;
    transition: opacity .15s;
  }
}


textarea {
  padding: 10px;
  line-height: 24px;

  @include placeholder {
    color: $accent-gray;
    font-weight: 300;
  }

  &:focus {
    @include placeholder {
      opacity: 0;
      transition: opacity .15s;
    }
  }
}



// Compound fields, reset the input element and style the parent container to resemble input
.topcoder-input,
toggle-password,
toggle-password-with-tips {
  // Reset the input styles
  input {
    height: 20px;
    border: none;
    background: none;
    box-shadow: none;
    padding: none;

    &:hover,
    &:focus,
    &.focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }

  label {
    display: inline-block;
    text-transform: uppercase;
    @include sofia-pro-medium;
    font-size: 10px;
    line-height: 10px;
    color: $accent-gray;
    height: 20px;
    width: 60px;
    padding: 0;

    input[type='checkbox'] {
      height: 14px;
      width: 14px;
    }
  }
}

// Custom Inputs
//
.input-sticky-placeholder-container {
  position: relative;

  span.placeholder-text {
    position: absolute;
    top: 14px;
    right: 10px;
    @include sofia-pro-light;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: $accent-gray;
  }
}
