language: node_js
node_js:
- 0.12.7
install:
- npm install -g gulp
- npm install -g bower
- npm install
- bower install
script:
- gulp preprocessors
sudo: false
before_deploy:
- npm-prepublish --verbose
deploy:
- provider: s3
  cache_control: max-age=31536000
  detect_encoding: true
  access_key_id: "$AWS_KEY"
  secret_access_key: "$AWS_SECRET"
  bucket: styles.topcoder-dev.com
  skip_cleanup: true
  local_dir: dist
  on:
    branch: master
- provider: npm
  email: "$NPM_EMAIL"
  api_key: "$NPM_API_KEY"
  on:
    tags: true
env:
  global:
  - secure: gSdLIv2V5a91XB7ciwHEb+sHXApSP5Dx8uBZJzhP42/2sS0uk9/uvQ2wDZby05hx5JrMGw/CVEUo0aklmFXKMLS+oPorkwpXBFCkQO+PRizKzJt5lQJMi9YcSA9BGLQkKW0PB0nUwsenYww+ghGov83zhi8i5PXD+a8w7s00aHs8jbrNc/FKNcVBHqr3xgKRjrL1BhWKpMnLDHU0EJpuaMykyFdVSc1SPtrNmq4oB1cOZPRSluIt01qS2QOJiyqzspA8iS5Le9iJzBpDO5faFpceCKYO/TH2EKwNrQZIlkkDeaj9xsSJQ+01YCHBLyiBw/92IaalN8WYKTVOfeAZszRpFFpV3oES7I6VG3Uhb9e0aGQuW1d4ogwIslmyzknXKYnQwatauTdYY8/RWR1f+nJQJXbb5NMdydyj/ux3r/UfCf4azpCagP7oGdasAZ4dNurQOvSW8Zsx8iif6s3WKHqtDEFSZrkPPd0t2LZkPRjWVuwM7ES20bTAq5+cTnSvNcMWCk6DQsDksiPd8/wnxbQG5pYZOIh77BnzaVehsIajCHEawxxXq6xbKX1TVTXO1P96nQaDubEHJBv8dOvD+OmYCDT2qMs6T2OrgK2ey8vNdICzjC7cgVsvCwOzHc4oLR+0YQJvZB+yo43BGmuF/oH4BYnNqfraZWzpvdTetFA=
  - secure: FAKkgWOGmpiKqtaqbER0bxjejQH+IMzBK2ZVT7GZpZPHBkSXyQPsEVU2Zt0K0/XSIb315CnxNjE0Q7tl5a+H/fDqdJzEcqoqJvBTaXPWeRxtjCJgEMX5Fq9He0DbOdtsFOPAkdlhzUnfv+9+s9/zEd9T8AbGQixk8/hsixp2OqibPW2xTbPidj7m4MTT3rsHJpv6OjXLg6Qv1k0llhKyGka04wlLV9//vCwbLcRGeJnzKpeNr3hv06HcsfNZ6E7VvlUgIP+magA1I9v3uV2qgsjYWULVO1h+4PwSV38ablck6SshrGU0Wnpaiqz8RYyB68UtDZLVoEFBgKo/KHO6u0+kyglxglLoPi5ByJBNqVsvHpx/jUD2VPU6fmlP0df3VCKm99BZI6n4H3AvULbFD0RoAr9XR7X7V7DVRrah1OzgDB/F42s4+wXNEhuyjhp1BI+/64uQVImr/AUD2JBD+ZWPTSZp5gtiiHEfSed+bFpRSJz64U2i/lSfhsDK5WQuqywIGh5gHKGj7xUq1xw80tJ6vYlQK9o6+NSgXDpTQzvnrZWEn8TxOOx6r8OHiQaL0fqBBScmfmDDRBd5wEtuwyQkwPg87usifRcTWS9hwIV37GojsNlwFaoY9GfV9Vn075WIQnn4PGnHTh95L+lX3wP0P+5tVsojr0eP3ORxfYM=
  - secure: cgazJ3lwg0Tzg+/DC3Rkt2zSKnlQ/97aVycIhmuO2sp2XqIW/DGvj9KgZHKh5M/roRTA6Obapn4vc5tYPbr6b55h9RYpBcBJzId7xC+5jr9HwZNIGGLp0QDbETPZxF90x27CHMEuug19Y1geGs52RFdOxjRsRQstK46f/TG4fsylz+2D59Ot8wnGWU1u0pVz4bA77OUN/2xX89LjVt0m8Aikd5o33AkRy53TS+Gyc9xNYga2iVDkX7ls1IatpZvqx7wrwcjIW/VWfFgoqiZao1efVTNNzbMBm8rteAIt91urNxU8s5ijqYGTn8NYVU4oxrNKTJHUvbQM5NEhT1XROBce/E87ZMFBsBfOy0v5CqccpoHSVRjXqnPUw4HUc7ZAfZoYsAYMpg/P3xKUC6N3ATOZU3A5CvhjgW/rdoCn1loFkvFSl3ytN+zgEYWegkjf+fzU7pRbAbp01BXCm6j1e9PiiYzAV20xUDs6mgbspUqR53qBRfLJ8FdaOPW5rT5ZC47U4Va8KS5+a/q456nv99THyspZ3Wkdx8a43aaiHSPxV9+svqHLIgJwmkTYbWJ4HI095mYkmEyFxtSdCLR51ugjQQPXr9V/3BfuAPKw6XX4+4xlzhkljAMkgYwWryuC9d39icRcUJ7mdEunj/qCMxMyqQqXTZQ56Z4hYJZhP9o=
  - secure: R9ocor3F3xhLH+okTbEZD4R4/iJehS801nS6Cv6NjZDcyNYSufIm0d6miwFJ43w8je4pYlJ1tzwSVXoc2Cf91fSc/YWB6cIeJhu4036zlU6Pe70W8jkdMW3xU1nt8v/eQ8VHyViu9Y6r1rfZns3cVEESLI7uPbE1dXKRcAWVomngD+7RyQ4XJHqRCiew2TA76l+8HFsdyDx0v2ubzTRcoTZ5g8dSN1Z9hs7qjkct1eV2y2in/aZF6oQ1/VJpiIlyv+vwtdLsEBcV7mHAoGKscEGpNJYhS51r/9LEekgy9tTkjuzovRVRsXLZux+VOudseZapyDh8U1s+FF5ZUnik5Zo7JY6OXiUSIssY+YHd5kyjbp2N8JV2y1RY9tp6yOhcfTskQm7BoVrsdJfVxw5+cd5WNNbt68nB+yIxOrEMpUirWr0iBNtYZyGi3Qpm6/7Pxa+ZzquoWD+9X4GAQIQuJ7NW9mCHlgFqQu9FWxG0WR+JBq1gw6UL08+UTLuWYN/+puKx7UPGMr8PEaI9m2f5FqTo2wFuN/95Ks5MmOyTc43mwm6yKYTadiICSzsM+rk0GjpFQuC6/nP4Wp3jB1B/ReOf+RB2vIvjAS35EywNdxuOZd1jlwYvCcallzYefNr0YNOXCLJ7tcdurxCjZ3Jlwz6jNCZ5GaelXQu1Ctzgm/E=
