a.button, button {
  @include font-line(14px);

  border-radius   : 6px;
  border          : 1px solid $primary-color;
  padding         : 8px 24px;
  color           : $primary-color;
  background-color: $white;
  cursor          : pointer;
  font-weight     : 700;
  text-transform  : uppercase;
  display         : inline-block;
  font-family     : "Source Sans Pro";

  &.action {
    background-color: $primary-color;
    color           : $white;

    &:hover {
      background-color: $primary-color-dark;
    }

    &:disabled {
      background-color: $primary-color-light;
    }
  }

  &:disabled {
    border-color: $grey;
    color: $grey;
  }

  &.success {
    background-color: $success-color;
    color           : $white;
    border          : none;
    margin          : 1px; /* compensate for border none */

    &:hover {
      background-color: #6B8E01;
    }

    &:disabled {
      background-color: #B6C194;
    }
  }

  &.danger {
    background-color: $danger-color;
    color           : white;
    border          : none;
    margin          : 1px; /* compensate for border none */

    &:hover {
      background-color: #802511;
    }

    &:disabled {
      background-color: #DEA295;
    }
  }

  &.info {
    background-color: $primary-color;
    color           : $black;
    border          : none;
    margin          : 1px; /* compensate for border none */

    &:hover {
      background-color: #0282BD;
    }

    &:disabled {
      background-color: #A6E0FB;
    }
  }

  &.hollow {
    background-color: transparent;
    color           : $white;
    border-color    : $white;
  }

  &.clean {
    background-color: transparent;
    border-radius   : 0;
    border          : none;
    padding         : 0;
    margin          : 0;
    font-size       : inherit;
    font            : inherit;
    line-height     : inherit;
    font-weight     : inherit;
    text-transform  : inherit;
    color           : inherit;
  }
}
