input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="url"] {
  font-family  : "Source Sans Pro";
  display      : block;
  padding      : 10px 15px;
  border       : 1px solid $grey-light;
  color        : $black;
  border-radius: 4px;
  font-size    : 14px;
  font-weight  : 400;
  width        : 100%;

  &.error {
    border-left: 3px solid $danger-color;
  }
}

textarea {
  font-family  : "Source Sans Pro";
  width        : 100%;
  display      : block;
  height       : 75px;
  color        : $black;
  border       : 1px solid $grey-light;
  border-radius: 4px;
  padding      : 10px;
  font-size    : 14px;
  font-weight  : 300;
}

