@mixin font-line($pt) {
  font-size     : $pt;
  padding-bottom: $pt * 0.20; /* due to font extending out */
}

@mixin vertical-align-middle() {
  > * {
    display       : inline-block;
    vertical-align: middle;
  }
}

@mixin block-center() {
  display     : block;
  margin-left : auto;
  margin-right: auto;
}

@mixin elevated() {
  box-shadow: 0 0px 3px 0px #c1c1c1;
}

// styleguide:ignore:start
@mixin exclude-first($property: margin-top, $value: 10px, $first-value: 0px) {
  #{$property}: $value;

  &:first-child {
    #{$property}: $first-value;
  }
}
// styleguide:ignore:end
