h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  color         : $text-color;
  font-weight   : 200;
  font-family   : "Sofia Pro";

  & + p {
    margin-top: 10px;
  }
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

time {
  color: $gray-dark;
}

label {
  font-weight: 500;
  text-transform: capitalize;
}

p {
  @include font-line(15px);

  font-weight: 300;

  &.secondary {
    color: $text-color-light;
  }

  &.error {
    font-size  : 14px;
    color      : $danger-color;
    font-style : italic;
  }

  &.wide {
    width: 250px;
  }

  &.wider {
    width: 500px;
  }
}

strong {
  font-weight: 500;
}
