// disable border-box-sizing in bourbon-neat
$border-box-sizing: false;

$primary-color-base   : #00aeff !default;
$primary-color-darker : #000;
$primary-color-dark   : #0096ff;
$primary-color        : #00aeff;
$primary-color-light  : #ddf2fd;
$primary-color-lighter: #fff;

$success-color-base   : #000 !default;
$success-color-darker : #000;
$success-color-dark   : #000;
$success-color        : #99cc00;
$success-color-light  : #fff;
$success-color-lighter: #fff;

$warning-color-base   : #000 !default;
$warning-color-darker : lighten($warning-color-base, 13.5%);
$warning-color-dark   : lighten($warning-color-base, 20%);
$warning-color        : lighten($warning-color-base, 33.5%);
$warning-color-light  : lighten($warning-color-base, 46.7%);
$warning-color-lighter: lighten($warning-color-base, 93.5%);

$danger-color-base   : #ff0066 !default;
$danger-color-darker : #000;
$danger-color-dark   : #000;
$danger-color        : #ff0066;
$danger-color-light  : #ed7878;
$danger-color-lighter: #ffcce1;

$gray-base   : #c3c1c1 !default;
$gray-darkest: #545454;
$gray-darker : #706e6e;
$gray-dark   : #8c8b8b;
$gray        : $gray-base;
$gray-light  : #d6d6d6;
$gray-lighter: #f2f2f2;
$gray-lightest: #f9f9f9;

$grey-base   : $gray-base;
$grey-darkest: $gray-darkest;
$grey-darker : $gray-darker;
$grey-dark   : $gray-dark;
$grey        : $gray;
$grey-light  : $gray-light;
$grey-lighter: $gray-lighter;
$grey-lightest: $gray-lightest;

$white: #fff;
$black: #3e3e3e;

$bg-color-base   : #fff;
$bg-color-darker : $gray-darker;
$bg-color-dark   : $gray-dark;
$bg-color        : $gray;
$bg-color-light  : $gray-light;
$bg-color-lighter: $gray-lighter;

$text-color-base   : #4a4a4a;
$text-color-darker : #000;
$text-color-dark   : #000;
$text-color        : $text-color-base;
$text-color-light  : #706e6e;
$text-color-lighter: #979797;

$hr-color-base   : #000;
$hr-color-darker : $gray-darker;
$hr-color-dark   : $gray-dark;
$hr-color        : $gray-dark;
$hr-color-light  : $gray-light;
$hr-color-lighter: $gray-lighter;

$link-dark-color      : $primary-color !default;
$link-dark-hover-color: darken($primary-color, 15%) !default;

$link-light-color      : $gray !default;
$link-light-hover-color: darken($link-light-color, 15%) !default;

$btn-default-color : #333 !default;
$btn-default-bg    : #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color : #fff !default;
$btn-primary-bg    : $primary-color !default;
$btn-primary-border: $primary-color !default;

$btn-secondary-color : $primary-color !default;
$btn-secondary-bg    : #fff !default;
$btn-secondary-border: $primary-color !default;

$btn-success-color : #fff !default;
$btn-success-bg    : $success-color !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-warning-color : #fff !default;
$btn-warning-bg    : $warning-color !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color : #fff !default;
$btn-danger-bg    : $danger-color !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$input-bg               : #fff !default;
$input-disabled-bg      : $gray-lighter !default;
$input-color            : $text-color !default;
$input-border           : #ccc !default;
$input-border-focus     : #66afe9 !default;
$input-color-placeholder: $text-color-lighter !default;

$label-default-bg      : $gray-light !default;
$label-primary-bg      : $primary-color !default;
$label-success-bg      : $success-color !default;
$label-warning-bg      : $warning-color !default;
$label-danger-bg       : $danger-color !default;
$label-color           : #fff !default;
$label-link-hover-color: #fff !default;

$vendor-facebook: black;
$vendor-google: black;
$vendor-github: black;
$vendor-twitter: black;
$vendor-dribbble: black;
$vendor-linkedin: black;
