- var css = ['main', 'colors', 'icons', 'misc', 'buttons']

- var navs = ['primary-colors', 'neutral-colors', 'text-colors', 'buttons', 'form-elements', 'typography', 'loader', 'icons', 'lists', 'hrs', 'misc', 'mixins']

html(ng-app='timeline')
  head
    title Work Styles

    meta(charset='utf-8')

    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')

    = "\n"
    // build:css styles/app.css
    = "\n"
    each path in css
      link(href='/styles/' + path + ".css", rel="stylesheet")
      = "\n"
    // endbuild
    = "\n"

  body
    ul.nav.flex.center(role="navigation")
      each nav in navs
        - var spaces = nav.replace('-', ' ')
        li
          a(href="##{nav}") #{spaces}


    main
      include views/primary-colors

      include views/text-colors

      include views/buttons

      include views/form

      include views/typography

      include views/icons

      include views/lists

      include views/misc

      include views/mixins
