a.anchor(name="form-elements")

h1 Form Elements

hr

form
  input(type="text", placeholder="text input")

  br

  input.wide(type="text", placeholder="text input (.wide)")

  br

  input.wider(type="email", placeholder="text email (.wider)")

  br

  input.wider(type="number", placeholder="text number (.wider)")

  br

  input.widest(type="text", placeholder="text input (.widest)")

  br

  textarea(placeholder="textarea (also has .wide, .wider, .widest")