- icons = ['checkmark', 'checkmark-white', 'bubble', 'envelope', 'circle-arrow', 'circle-arrow.right', 'arrow', 'arrow.right', 'warning', 'download', 'cross', 'plus', 'plus.hollow']

a.anchor(name="icons")

h1 Icons

hr

ul.examples.icons
  - for icon in icons
    li
      label .icon.#{icon}

      .example.icon(class="#{icon.replace('.', ' ')}")