a.anchor(name="misc")

h1 Misc

ul.examples
  li
    label .elevated

    .elevated

  li
    label .elevated-bottom

    .elevated-bottom

  li
    label .notification[.absolute]

    .notification 88