a.anchor(name="mixins")

h1 Mixins

hr

ul
  li @mixin font-line($pt)

  li @mixin vertical-align-middle() # Uses inline-block and vertical-align

  li @mixin bg-image-ratio($low, $high)

  li @mixin bg-cover($src)

  li @mixin block-center()

  li @mixin exclude-first($property: margin-top, $value: 10px, $first-value: 0px)