- neutralColors = ['neutral-color-lightest', 'neutral-color-light', 'neutral-color', 'neutral-color-dark', 'neutral-color-darkest', ]

a.anchor(name="neutral-colors")

h1 Neutral Colors

hr

ul.examples.colors
  - for color in neutralColors
    li
      label $#{color}

      .example(class=color)