a.anchor(name="typography")

h1 Typography

hr

ul(style="list-style-type: disc;")
  li
    h1 h1 - some header text <strong>strong</strong>

  li
    h2 h2 - some header text <strong>strong</strong>

  li
    h3 h3 - some header text <strong>strong</strong>

  li
    h4 h4 - some header text <strong>strong</strong>

  li
    h5 h5 - some header text <strong>strong</strong>

  li
    h6 h6 - some header text <strong>strong</strong>

  li
    time time - 10/24/2015 <strong>strong</strong>

  li
    label label <strong>strong</strong>

  li
    a a - this is a link <strong>strong</strong>

  li
    a.button.action a.button.action <strong>strong</strong>

  li
    p p (Lorem ipsum dolor sit amet, <br />consectetur adipiscing elit, <br />sed do eiusmod tempor incididunt ut labore) <strong>strong</strong>

  li
    p.error p.error <strong>strong</strong>

  li
    p.secondary p.secondary <strong>strong</strong>

