@mixin font-line($pt) {
  font-size  : $pt;
  line-height: $pt * 1.5;
}

@mixin vertical-align-middle() {
  > * {
    display       : inline-block;
    vertical-align: middle;
  }
}

@mixin block-center() {
  display     : block;
  margin-left : auto;
  margin-right: auto;
}

@mixin elevated() {
  box-shadow: 0 0px 6px 0px $grey-dark;
}

// styleguide:ignore:start
@mixin exclude-first($property: margin-top, $value: 10px, $first-value: 0px) {
  #{$property}: $value;

  &:first-child {
    #{$property}: $first-value;
  }
}
// styleguide:ignore:end
