a.button, button {
  &.clean {
    background-color: transparent;
    border-radius   : 0;
    border          : none;
    padding         : 0;
    margin          : 0;
    font-size       : inherit;
    font            : inherit;
    line-height     : inherit;
    font-weight     : inherit;
    text-transform  : inherit;
  }
}
