$primary-color-base   : #000 !default;
$primary-color-darker : lighten($primary-color-base, 13.5%);
$primary-color-dark   : lighten($primary-color-base, 20%);
$primary-color        : lighten($primary-color-base, 33.5%);
$primary-color-light  : lighten($primary-color-base, 46.7%);
$primary-color-lighter: lighten($primary-color-base, 93.5%);

$success-color-base   : #000 !default;
$success-color-darker : lighten($success-color-base, 13.5%);
$success-color-dark   : lighten($success-color-base, 20%);
$success-color        : lighten($success-color-base, 33.5%);
$success-color-light  : lighten($success-color-base, 46.7%);
$success-color-lighter: lighten($success-color-base, 93.5%);

$warning-color-base   : #000 !default;
$warning-color-darker : lighten($warning-color-base, 13.5%);
$warning-color-dark   : lighten($warning-color-base, 20%);
$warning-color        : lighten($warning-color-base, 33.5%);
$warning-color-light  : lighten($warning-color-base, 46.7%);
$warning-color-lighter: lighten($warning-color-base, 93.5%);

$danger-color-base   : #000 !default;
$danger-color-darker : lighten($danger-color-base, 13.5%);
$danger-color-dark   : lighten($danger-color-base, 20%);
$danger-color        : lighten($danger-color-base, 33.5%);
$danger-color-light  : lighten($danger-color-base, 46.7%);
$danger-color-lighter: lighten($danger-color-base, 93.5%);

$gray-base    : #000 !default;
$gray-darkest : lighten($gray-base, 3.5%);
$gray-darker  : lighten($gray-base, 13.5%);
$gray-dark    : lighten($gray-base, 20%);
$gray         : lighten($gray-base, 33.5%);
$gray-light   : lighten($gray-base, 46.7%);
$gray-lighter : lighten($gray-base, 93.5%);
$gray-lightest: lighten($gray-base, 97.5%);

$white: #fff;
$black: #000;

$bg-color-base   : #fff
$bg-color-darker : lighten($bg-color-base, 13.5%);
$bg-color-dark   : lighten($bg-color-base, 20%);
$bg-color        : lighten($bg-color-base, 33.5%);
$bg-color-light  : lighten($bg-color-base, 46.7%);
$bg-color-lighter: lighten($bg-color-base, 93.5%);

$text-color-base   : #000
$text-color-darker : lighten($text-color-base, 13.5%);
$text-color-dark   : lighten($text-color-base, 20%);
$text-color        : lighten($text-color-base, 33.5%);
$text-color-light  : lighten($text-color-base, 46.7%);
$text-color-lighter: lighten($text-color-base, 93.5%);

$hr-color-base   : #000
$hr-color-darker : lighten($hr-color-base, 13.5%);
$hr-color-dark   : lighten($hr-color-base, 20%);
$hr-color        : lighten($hr-color-base, 33.5%);
$hr-color-light  : lighten($hr-color-base, 46.7%);
$hr-color-lighter: lighten($hr-color-base, 93.5%);

$link-dark-color      : $primary-color !default;
$link-dark-hover-color: darken($link-dark-color, 15%) !default;

$link-light-color      : $primary-color !default;
$link-light-hover-color: darken($link-light-color, 15%) !default;

$btn-default-color : #333 !default;
$btn-default-bg    : #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color : #fff !default;
$btn-primary-bg    : $primary-color !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color : #fff !default;
$btn-success-bg    : $success-color !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-warning-color : #fff !default;
$btn-warning-bg    : $warning-color !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color : #fff !default;
$btn-danger-bg    : $danger-color !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$input-bg               : #fff !default;
$input-disabled-bg      : $gray-lighter !default;
$input-color            : $gray !default;
$input-border           : #ccc !default;
$input-border-focus     : #66afe9 !default;
$input-color-placeholder: #999 !default;

$label-default-bg      : $gray-light !default;
$label-primary-bg      : $primary-color !default;
$label-success-bg      : $success-color !default;
$label-warning-bg      : $warning-color !default;
$label-danger-bg       : $danger-color !default;
$label-color           : #fff !default;
$label-link-hover-color: #fff !default;

$vendor-facebook: black;
$vendor-google: black;
$vendor-github: black;
$vendor-twitter: black;
$vendor-dribbble: black;
$vendor-linkedin: black;
